<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base.url"                      value="https://houseoftest.ch/en/" />
    <add key="seleniumDriverVersion.chrome"  value="MatchingBrowser" />
    <add key="TestResultPath"                value="C:\TestResults" />
  </appSettings>
</configuration>